:root {
  --font-size: auto;
}

*{
  font-family: serif;
  padding: 0;
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;
  overflow-x: none;
}

body {
  background-color: rgb(149, 139, 139);
}

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  position: fixed;
  height: 23px;
  background-color: white;
  width: 100%;
  overflow: hidden;
}

nav ul{
  display: flex;
  list-style-type: none;
}

nav ul a{
  text-decoration: none;
  color: black;
  margin-left: 6px;
}

nav ul a:hover{
font-weight: 500;
}

nav svg{
  width: 87px;
  position: absolute;
  bottom: -5px;
  right: 10vw;
}

#logo{
visibility: hidden;
}

.main {
  margin: 0 1vw 0 1vw;
  display: flex;
  flex-direction: column;
  border-top: 1px solid white;
}

.main a{
  padding: 0 3vw 0 1vw;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white;
  color: black;
  max-width: 1400px;
}

.main a p:nth-child(2){
  font-style: italic;
}

.main a:hover{
  background-color: rgb(157, 146, 146);
  transition: 0.5s;
}

.prev-image {
  width: 100%;
  padding: 0 0 0 30px;
}

.prev-image img{
    width: 100%;
    max-width: 600px;
    float: right;
}

.list-info {
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
}

#footer {
  bottom: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  border-top: 1px solid black;
  align-items: center;
  height: 23px;
}

#footer {
  height: 400px;
  bottom: -379px;
  transition: bottom 0.5s ease;
}

#expand-button-wrapper {
  margin: -1px 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#expand-button-wrapper svg {
  height: 18px;  
}

#expand-button-wrapper button{
  margin: 0 0 0 0;
  padding: 3px 0 0 4px;
  background: none;
  border: none;
  cursor: pointer;
}

#up-arrow {
  width: 10px;
  transition: transform 0.5s ease;
}

#contact-visible {
  display: flex;
  justify-content: space-around;
}

#contact-section {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px dotted black;
}

#contact-visible a{
  text-decoration: underline;
  color: black;
}
 
@media only screen and (max-width: 600px) {
  .main a {
    flex-direction: column;
  }

  .prev-image{
    padding: 10px 0 0 0;
  }

  #contact-section {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}